.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linear-gradient-btn{
  position: relative;
  z-index: 1;
  background: transparent;
  color:white !important;
  font-weight: 600 !important;
  transition: 0.4s ease-in-out,border-color .4s ease-in-out,color .4s ease-in-out;
}
.linear-gradient-btn::before{
  content:'';
  display: block;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  background: #000814;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  transition:  0.4s ease-in-out;
}

.linear-gradient-btn::after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  z-index: -3;
  background: transparent;
  background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
  background-position: 58% 50%;
  background-size: 500%;
  animation: gradient-shift 30s ease infinite;
}

.linear-gradient-btn:hover::before{
  background: transparent;
}

@keyframes gradient-shift{
  0% {
    background-position: 58% 50%;
}
25% {
    background-position: 100% 0%;
}
75% {
    background-position: 10% 50%;
}
100% {
    background-position: 58% 50%;
}
}

.title{
  margin: 1.5rem auto 1rem;
  background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
  background-position: 58% 50%;
  background-size: 500%;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Patrick Hand";
  -webkit-animation: gradient-shift 30s ease infinite;
  animation: gradient-shift 30s ease infinite;
  -webkit-text-fill-color: transparent;
  display: block;
  font-size: 5rem !important;
  font-weight: 700 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 1.5rem;
}
